@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@keyframes sparkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  z-index: 12;
  background-color: #4caf50;
  height: 10rem;
  width: 10rem;
}

.heading {
  unicode-bidi: unset;
  text-align: center;
  margin: auto;
  margin-block-start: 0;
  margin-block-end: 0;
}

.heading::before {
  animation: sparkle 2s infinite;
}

.heading h1 {
  position: absolute;
  margin: auto;
  font-size: 4rem;
}

.introWrapper {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  height: 20rem;
  z-index: 10;
}

.introWrapper h3 {
  text-align: center;
}

h2 {
  font-size: 24px !important;
  color: white;
  text-align: center;
}
.fullpage {
  color: white;
  width: 100%;
  height: 100vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 4rem 0 4rem;
  /* z-index: -2; */
}

.topBanner {
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blenderWrapperLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
}

.blenderWrapperRight {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
}

.blenderWrapperLeft p {
  text-align: left;
  width: 40rem;
  margin: 2rem 2rem;
}

.blenderWrapperRight p {
  text-align: left;
  width: 40rem;
  margin: 2rem 2rem;
}

.blenderImg {
  width: 40rem;
  border-radius: 1rem;
}

.r3fExample {
  width: 40rem;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
}

.imagewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('/castle2.jpeg');
  background-color: #cccccc;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  margin: 4rem auto;
}

.music {
  all: unset;
  width: 2.5rem;
  padding: 0.75rem 0 0.75rem 1.65rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: 1px 2px 5px grey;
}

.music:hover {
  box-shadow: 1px 2px 5px black;
}

.aboutRulesFlex {
  display: flex;
  justify-content: space-between;
}

.about {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 6rem 1rem 6rem 1rem;
  margin: 2rem 1rem 2rem 0;
  padding: 2rem 4rem;
  width: 50%;
  box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.4);
}

.rules {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 1rem 6rem 1rem 6rem;
  margin: 2rem 0 2rem 1rem;
  padding: 2rem 4rem;
  width: 50%;
  box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.4);
}

.project {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 2rem 2rem 0 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introProject {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.introProject li{
  margin: 1rem 0;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.75rem 2rem;
  cursor: pointer;
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 10px grey;
  margin: 2rem;
}

.button:hover {
  box-shadow: 0px 0px 10px white;
}

.paragraph {
  line-height: 3;
}

.linkButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.linkButton:hover {
  background-color: #45a049; /* Darker Green */
}

h2 {
  font-size: 10em;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 100px;
}

.canvasWrapper {
  height: 60rem;
  margin: 2rem 0 0 0;
  border-radius: 1rem 6rem 1rem 6rem;
  box-shadow: 6px -2px 10px rgba(0, 0, 0, 0.4);
}

.homeCanvas {
  border-radius: 1rem 6rem 1rem 6rem;
  cursor: grab;
}

.homeCanvas:active{
  cursor: grabbing;
}

.techLogos{
  display: flex;
  width: 40rem;
  justify-content: space-evenly;
}

.techlogo{
  height: 4rem;
  width: 4rem;
}

.ncLogo{
  width: 6rem;
  margin: 2rem 0;
}

.footer {
  height: 16rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a{
  color: white;
  text-shadow: none;
}
