.UIWrapper{
    color: black;
    position: absolute;
    width: 100vw;
    height: 20rem;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.canvasWrapper{
    width: 20rem;
    height: 20rem;
    margin: 1rem 1rem 0 0;
    animation: canvasAnimation 0.5s 1 ease;
}

.canvasWrapper:hover{
    color: white;
    box-shadow: 0 0 10px white;
}

.nextPhase{
    all: unset;
    background-color: black;
    height: 4rem;
    width: 6rem;
    color: white;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.fetching{
    color: white;
    margin: 5rem 4rem;
}

.turnInfo{
    margin: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
    padding: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column;

}

.turnInfo h2{
    margin: 0.5rem 0;
    font-size: 1.2rem;
    padding: 0;
    max-width: unset;
    text-align: left;
    opacity: 80%;
}

.profile{
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 0.5rem;
}

.profile img{
    height: 3rem;
    margin: 0 0.5rem 0 0;
}

.eachPlayer{
    height: 8rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem 0;
    border-radius: 0.6rem;
    padding: 0.5rem;
}

.eachPlayer img{
    height: 3rem;
}

.score{
    font-weight:bold;
    font-size: 1.2rem;
}

.eachPlayer p {
    margin: 0.4rem 0;
    text-align: center;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    height: 8rem;
    pad: 2rem;
    border-radius: 0.6rem;
}

.button {
    z-index: 1;
    height: 6rem;
    /* position: fixed;
    bottom:10px;
    right: 10px; */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
  }
  
  .button:hover {
    background-color: #45a049; /* Darker Green */
  }
  
  @keyframes canvasAnimation {
    0% {
        transform: translate(20rem, 0);
    }
    80%{
        transform: translate(-0.5rem, 0);
    }
    /* 90%{
        transform: translate(0.25rem, 0);
    }
    95%{
        transform: translate(-0.1rem, 0);
    } */
    100% {
        transform: translate(0, 0);
    }
  }
  .inputare {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2); /* Inner shadow effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border with transparency */ /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    padding: 10px;
  }
  .textarea {
    position: fixed;
    bottom: 130px;
    left: 20px;
    width: calc(300px);
    height: 40px; /* Full width minus padding */
  padding: 8px;
  margin-bottom: 10px;
color:white;
  border-radius: 5px;
  resize: none; /* Prevent textarea from being resized */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white background */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2); /* Inner shadow effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border with transparency */
  }

  .messageArea {
    position: fixed;
    bottom: 200px;
    left: 20px;
    width: 300px;
    height: 250px;
    max-height: 250px; /* Limit the height of the message area */
    overflow-y: auto; /* Enable vertical scrolling when messages overflow */
    padding: 10px; /* Add some padding */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Inner shadow effect */
  }
  
  .message {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Padding around each message */
    margin-bottom: 5px; /* Spacing between messages */
    color: white; /* Text color */
  }
  .profilePicture{
    max-width: 50px;
    max-height: 50px;
  }
  .sendMessageButton {
    position: fixed;
    left: 320px;
    bottom:140px;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 999px; /* Ensures rounded corners for circle */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sendMessageButton:hover {
    background-color: #0077b5; /* Darker shade on hover */
  }
  
  .sendMessageButton span:last-child {
    margin-left: 8px; /* Add space between text and emoji */
  }