.UIWrapper{
    color: black;
    position: absolute;
    width: 100vw;
    height: 36rem;
    top: 0;
    z-index: 10;
    display: flex;
}

.canvasWrapper{
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    right: 0;
}

.nextPhase{
    all: unset;
    background-color: black;
    height: 4rem;
    width: 6rem;
    color: white;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.turnInfo{
    margin: 3rem 2rem;
}